/* ************ div properties ************ */

.top-container{
    background-color: #eaf6f6;
    position: relative;
    padding-top: 220px;
}

.mid-container{
    position: relative;
    padding-top: 90px;
}




/* general property */
body{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1, h2 {
    color: #66BFBF;
}

h3, a {
    color: #11999E;
}
h1 {
    margin: 0;
    font-size: 5rem;
}

h2{
  font-size: 2.5rem;  
}

.subtitle {
    font-weight: normal;
    line-height: 10px;
}

.topcloud {
    display: block;
    position: absolute;
    right: 15%;
    top: 120px; 

}

.bottomcloud {
    display: block;
    position: absolute;
    left: 15%; 


}

.profilepic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.profile {
    width: 30%;
    margin: auto;
    padding-bottom: 100px;
}

.skills {
    margin: auto;
    padding-top: 80px;
}

.chillies {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.computer {
    width: 25%;
    border-radius: 100%;
    float: right;
    margin-left: 30px;

}



.skill-row {
    width: 50%;
    margin: 120px auto;
    text-align: left;
    line-height: 2;
}

.contact-me {
    margin: auto;
    margin-top: 100px;
    width: 30%;
}

p {
    color: #40514e;
    font-weight:bold;
}

hr {
    width: 100px;
    border: none;
    border-top: 10px  dotted;
    border-color: #a8adad;
}

.bot-container{
    position: relative;
    padding-top: 50px;
    background-color: #1a9baf;
    color: #eaf6f6;
    margin: 0;
    padding-bottom: 0;
}

.bot-container p {
    padding: 10px;
    margin: 10px 0 0 0;
}

.bot-container a {
    padding:1rem

   
}

.footer-link {
    color: #eaf6f6;
    font-weight: bold;
    text-decoration: none;
}








.BUTTON_CRG {
    background: #1EB7D0;
    background-image: -webkit-linear-gradient(top, #1EB7D0, #11999E);
    background-image: -moz-linear-gradient(top, #1EB7D0, #11999E);
    background-image: -ms-linear-gradient(top, #1EB7D0, #11999E);
    background-image: -o-linear-gradient(top, #1EB7D0, #11999E);
    background-image: -webkit-gradient(to bottom, #1EB7D0, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 50px auto 50px auto;
 }
 
 .BUTTON_CRG:hover {
    background: #11999E;
    border: solid #0059A0 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }